body {
	overflow-x: hidden;
	background-image: url("images/background-img.png");
	background-position: center;
	color: white;
	margin-left: 2%;
}

a:link {
	color: cyan;
}

a:visited {
	color: #ff796d;
}

a:hover {
	color: white;
}

a:active {
	color: #bababa;
}

.nav-menu {
	margin-top: 20px;
    overflow: hidden;
    background-color: #706f6f;
    font-family: Arial, sans-serif;
}

.nav-menu a {
    float: left;
	background-color: white;
    font-size: 16px;
    color: #282828;
	margin: 3px;
    padding: 8px;
    text-decoration: none;
	border: 2px solid black;
	border-radius: 8px;
}

.dropdown {
    float: left;
	font-size: 16px;    
}

.dropdown-items {
	margin-top: 46px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 4px 4px 10px #a0a0a0;
    z-index: 1;
}

.dropdown-items a {
    float: none;
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-items {
    display: block;
}

.nav-menu a:hover {
    background-color: #282828;
    color: white;
}

a.current-page-button{
	background-image: linear-gradient(#9e9191, #5e5555);
	color: white;
	font-weight: bold;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

th, td {
	padding: 5px;
}

thead {
	background-color: #aaaaaa;
	color: #ba1414;
}

tfoot {
	background-color: #a00000;
	color: #efe93e
}	

caption {
	font-style: italic;
	font-size: 120%;
}

p::first-letter {
	font-weight: bold;
	font-size: 110%;
}

h1 {
	transform: rotate(5deg);
	transform: skewX(15deg);
}

h2 {
	font-family: "Trebuchet MS";
}

#about {
	font-family: "Verdana";
	text-align: center;
	text-decoration: underline wavy #808080;
}

@media screen and (max-width: 480px){
    .nav-menu a {
		text-align: center;
		display: block;
		overflow: visible;
		float: none;
		width: 92%;
	}
	.dropdown {
		text-align: center;
		display: block;
		overflow: visible;
		float: none;
		width: 100%;
	}
	.dropdown-items {
		margin-top: 0px;
		text-align: center;
		float: none;
		width: 95%;
		box-shadow: none;
		background-color: #b2aeae;
	}
}