#canvas-holder {
	display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

header {
	color: white;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

body {
	overflow: hidden;
	background-image: url("./images/snakebg.png");
}

.column {
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
	color: white;
	float: left;
}

#stats {
	margin-left: 2%;
}

#column-1 {
	width: 30%;
}

#column-2 {
	margin-left: auto;
	width: 40%;
}

#column-3 {
	margin-right: auto;
	width: 30%;
}

#highdiv {
	width: 85% !important;
}
